<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <script type='text/javascript' src="vue.js"></script>


        <div id="demo">
            <p>{{message}}</p>
            <input v-model="message"/>
        </div>
        <script>
var demo = new Vue({
    el: '#demo',
    data: {
        a: 20,
        message: 'Hello Vue.js!'
    },
    computed: {
    // get only, just need a function
    aDouble: function () {
      return this.a * 2
    },
    // both get and set
    aPlus: {
      get: function () {
        return this.a + 1
      },
      set: function (v) {
        this.a = v - 1
      }
    }
  }
})
demo.$watch("a",function(){
    console.log(arguments)
})
demo.$watch("aPlus",function(){
    console.log(arguments)
})
setTimeout(function(){
    demo.aPlus = 30
    console.log(demo.a)
}, 3000)
//console.log(demo)
        </script>
    </body>
</html>
